.containerlogo {
  font-size: 14px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    position: absolute;
    top: 1%;
    left: 7%;
    width: 100%;
}
.containerlogo .imglogo {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 0px;
  width: 110px;
  height: 110px;
}
.descriptioncompany {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 63%;
  
 
}
.textlogo {
  color: #ffd439;
}
.contact {
  display: flex;
  
  margin:10px 0;
  color: #ffd439;
}
.iconscontact{
    color: green;
    margin-right: 5px;
    
}
.iconslocallogo{
    
    text-align: center;
}
