* {
  
  border-color: #ffd439 !important;
}

.inputbox {
  height: 50px;
  position: absolute;
  top: 25%;
    left: 7%;
}


#outlined-basic {
  position: relative;
  max-width: 326px;
  width: 75vw;
  height: 10px;
  color: #ffd439 !important;
}

label {
  color: #ffd439 !important;
  left: 2px !important;
  top: -2px !important;
}
input {
  border-radius: 59px 1px 59px 1px;
}
fieldset {
  border-radius: 33px 9px 47px 31px !important;
}
