.css-1oqv2c0-MuiPaper-root-MuiCard-root {
  position: relative;
  margin: 11px 6px;
  top: 15px;
  border-radius: 16px !important;
  background-color: #ffd439 !important;
  display: flex;
  flex-direction: row-reverse;
 
}
.css-2ulfj5-MuiTypography-root{
    font-size: 1rem !important;
}
.css-hav9kw-MuiTypography-root{
    font-size: .6rem !important;
}