.card {
  height: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  border-radius: 25px !important;
  background-color: #ffd439 !important;
  border: 5px solid #cfaa30 !important;
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin: 0;
}

.card img {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  margin-left: 15px;
  box-shadow: 0px 0px 5px 2px #555;
}

.tabContents div {
  align-items: center;
}

.cardDescription {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
}

.quantity-control{
  
position: relative;
bottom: 1.8rem;
left: 10rem;
width: fit-content;
display: flex;
align-items: center;
justify-content: flex-end;
}
.btnquantity{
  background-color: #29292c;
  border: #ffd439 ;
  border-radius: 8px;
  width:2rem;
  height: 2rem;
  margin: 0px 0.4rem 0px 0.2rem;
  color:#ffd439 ;
}