.card {
  height: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
  margin: 10px 0;
  border-radius: 25px !important;
  background-color:  #ffd439 !important;
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin: 0;
}

.card img {
  height: 50%;
  width: 26%;
  border: 1px solid red;
  border-radius: 300px;
  margin-left: 15px;
}

.tabContents div {
  align-items: center;
}

.cardDescription {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
}

.cardDescription div {
  margin: 1% 0;
}
