* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100dvh;
  background-color: #ffd439;
  overflow: hidden;
  position: relative;
}

#app {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.MuiContainer-root {
  padding: 0 !important;
}

#header {
  display: flex;
  background-color: #ffd439;
  width: 100%;
  height: 25%;
  min-height: 146px;
  align-items: center;
  justify-content: center;
}

#content {
  /* background-color: red;*/
  width: 100%;
  height: 67%;
  overflow: hidden !important;
}

#footer {
  border-radius: 35px;
  width: 100%;
  height: 8%;
}
