.containerheader {
  width: 90%;
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  background-color: #29292c;
  height: 25vh;
  border-radius: 15px 1px 15px 1px;
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}
