#as{
  position: absolute;
  z-index: 1800;
  bottom: 60%;

  /* max-width: 8000px; */
  width: 100%;
  background-color:transparent;
  
}
 #ok{
  color: red;
  background-color:#29292C;
  height: 150vh;
  width: 97%;
  position: absolute;
  top: 41%;
  
  border-radius: 15px;
}
#as .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled{
  display: none;
}
#as .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
  opacity: 0 !important;
  width: 0 !important;
  
}
#as span{
 display: none;
}
#as .teste{
  color: #FFD439 !important;
  border-radius: 25px !important;
  background-color:rgb(41, 41, 44);
  margin-right: 5px;
  margin-left: 5px;
 
 
}