.footer{
    max-width: 425px;
    width: 100vw !important;
    position: fixed;
    bottom: 0px;
   
}
.footer .contentfooter{
    background-color: #FFD439;
    border-radius: 30px 30px 0 0;
}
.footer .iconsfooter{
    color:#29292C;
   
}
.Mui-selected{color: #29292C!important;}